In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'C:/Users/sylva/Downloads/startup_funding2018.csv')

In [3]:
print(df)

          Company Name                                           Industry  \
0      TheCollegeFever  Brand Marketing, Event Promotion, Marketing, S...
1      Happy Cow Dairy                               Agriculture, Farming
2           MyLoanCare   Credit, Financial Services, Lending, Marketplace
3          PayMe India                        Financial Services, FinTech
4             Eunimart                 E-Commerce Platforms, Retail, SaaS
..                 ...                                                ...
521              Udaan   B2B, Business Development, Internet, Marketplace
522  Happyeasygo Group                                    Tourism, Travel
523             Mombay         Food and Beverage, Food Delivery, Internet
524         Droni Tech                             Information Technology
525            Netmeds         Biotechnology, Health Care, Pharmaceutical

    Round/Series       Amount                          Location  \
0           Seed       250000       Bangalore, Karnataka, India
1           Seed  ₹40,000,000        Mumbai, Maharashtra, India
2       Series A  ₹65,000,000           Gurgaon, Haryana, India
3          Angel      2000000       Noida, Uttar Pradesh, India
4           Seed            —  Hyderabad, Andhra Pradesh, India
..           ...          ...                               ...
521     Series C    225000000       Bangalore, Karnataka, India
522     Series A            —           Haryana, Haryana, India
523         Seed         7500        Mumbai, Maharashtra, India
524         Seed  ₹35,000,000        Mumbai, Maharashtra, India
525     Series C     35000000        Chennai, Tamil Nadu, India

                                         About Company
0    TheCollegeFever is a hub for fun, fiesta and f...
1    A startup which aggregates milk from dairy far...
2            Leading Online Loans Marketplace in India
3    PayMe India is an innovative FinTech organizat...
4    Eunimart is a one stop solution for merchants ...
..                                                 ...
521  Udaan is a B2B trade platform, designed specif...
522            HappyEasyGo is an online travel domain.
523  Mombay is a unique opportunity for housewives ...
524  Droni Tech manufacture UAVs and develop softwa...
525       Welcome to India's most convenient pharmacy!

[526 rows x 6 columns]

In [4]:
df.to_csv("2018-dataset.csv")